// out: ../css/index.css, compress: true

//  http://meyerweb.com/eric/tools/css/reset/
//  v2.0 | 20110126
//  License: none (public domain)

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
// HTML5 display-role reset for older browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  max-width: 100%;
}

html,
body {
  height: 100%;
  font-family: 'Roboto Mono', monospace;
}

body {
  margin: 30px;
}

.content {
  height: ~'calc(200vh - 60px)';
  display: grid;
  grid-template:
    'intro intro intro'
    'history history skills'
    'history history skills'
    'contact contact contact';
  @media (max-width: 1280px) {
    grid-template:
      'intro intro'
      'skills skills'
      'history history'
      'history history'
      'contact contact';
  }
}

// Mixins

// Header
header {
  nav {
    display: flex;
    justify-content: space-between;

    .logo {
      img {
        max-height: 64px;
      }
    }

    .links {
      width: 40%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      a {
        text-decoration: none;
        font-size: 1rem;
        color: black;
      }
    }

    @media (max-width: 960px) {
      flex-direction: column;
      align-items: center;

      .logo {
        margin-bottom: 30px;
      }

      .links {
        width: 100%;
      }
    }
  }
}

// Intro
#intro {
  grid-area: intro;
}

// Skills
#skills {
  grid-area: skills;
}

// History
#history {
  grid-area: history;
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
}

// Contact
#contact {
  grid-area: contact;
}

// Footer
footer {
}
